# Environment / secrets
.env
*.local
appsettings.Development.json

# Data
data/

# Build output
bin/
obj/
out/
dist/
dist-ssr/

# Packages
node_modules/
packages/
*.nupkg

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDEs / Editors
.vscode/
!.vscode/extensions.json
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store